/* Clients-Section */

.client-section {
  @extend %gap-top-container;
  @extend %gap-bottom-container;
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;

    @media screen and (min-width: 1200px) {
      @include team-title(36px, 1.17);
    }
  }
}
