/* Footer */

.footer {
  @extend %gap-footer-container;

  color: var(--section-accent-color);
  background-color: var(--secondary-background-color);
  font-size: 14px;
  line-height: 1.71;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }

  & .container {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: baseline;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      justify-content: space-between;
    }
  }
}
