/* Header-Navigation */

.header__nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 767px) {
    display: block;
    text-align: start;
    margin: 0;
    padding: 0;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    position: relative;

    @media screen and (max-width: 767px) {
      font-weight: 500;
      font-size: 40px;
      line-height: 1.18;
      letter-spacing: 0.02em;
      color: var(--primary-text-color);
    }

    @media screen and (min-width: 768px) {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  & &__link {
    @media screen and (max-width: 479px) {
      font-size: 30px;
    }
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }

  &__link--current {
    color: var(--accent-color);
  }

  /* Header-Active-Link */

  &__item {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
  }

  &__link--current::before {
    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      bottom: 0;
      background-color: var(--accent-color);
      border-radius: 2px;
      opacity: 1;
      transition-property: opasity;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__link--current::after {
    opacity: 0;
  }
}
