html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

// * {
//   // outline: 1px solid red;
// }

* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.list {
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: inherit;
  list-style: none;
}

.icon {
  width: 20px;
  height: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

p {
  color: var(--paragraph-text-color);
  font-weight: 400;
  margin: 0;
}

.body {
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
  font-family: var(--font-family), sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.body.modal-open {
  overflow: hidden;
}

.body.header-drop--is-open {
  overflow: hidden !important;
  position: fixed;
}
