%social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  list-style: none;
  background-color: var(--main-background-color);
  fill: var(--team-icon-bgrn-color);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

%social-icons:hover,
%social-icons:focus {
  background-color: var(--accent-color);
  fill: var(--section-accent-color);
}

%hero-image {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      var(--hero-gradient-color),
      var(--hero-gradient-color)
    ),
    url("./../images/hero1/img-hero480@1x.jpg");
  background-color: var(--hero-main-bgrn-color);
  color: var(--section-accent-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        var(--hero-gradient-color),
        var(--hero-gradient-color)
      ),
      url("./../images/hero1/img-hero480@2x.jpg");
  }
}
%gap-top-container {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}

%gap-bottom-container {
  @media screen and (max-width: 1199px) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }
}

%gap-bottom-phone-container {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

%gap-footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
