%social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  list-style: none;
  background-color: var(--main-background-color);
  fill: var(--team-icon-bgrn-color);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

%social-icons:hover,
%social-icons:focus {
  background-color: var(--accent-color);
  fill: var(--section-accent-color);
}

%hero-image {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      var(--hero-gradient-color),
      var(--hero-gradient-color)
    ),
    url("../images/hero/hero-tablet.jpg");
  background-color: var(--hero-main-bgrn-color);
  color: var(--section-accent-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
