:root {
  --primary-text-color: #212121;
  --paragraph-text-color: #757575;
  --accent-color: #2196f3;
  --section-accent-color: #ffffff;
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --hero-background-color: #188ce8;
  --hero-main-bgrn-color: #c4c4c4;
  --hero-gradient-color: rgba(47, 48, 58, 0.4);
  --team-icon-bgrn-color: #afb1b8;
  --footer-icon-bgrn-color: #ffffff1a;
  --item-border-color: #eeeeee;
  --header-line-color: #ececec;
  --input-text-color: #ffffff99;
  --font-family: Roboto;
  --accent-font: Raleway;
  --pc-section-pading: 94px;
  --phone-section-pading: 60px;
}
